* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:cadetblue;
}
.container {
    width: 500px;
    height: 660px;
    background-color: aqua;
    margin: auto;
    margin-top: 60px;
    /* border: 1px solid black; */
    border-radius: 20px;
}
.form {
    /* margin: 20px; */
    margin-left: 80px;
    padding-left:30px;
    font-size: 30px;
    font-family: Arial, sans-serif;
    padding-top: 30px;
}

.btn {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: none;
    margin-left: 170px;
    margin-top: 30px;
    background-color: green;
    color:white;
    font-size: 20px;
}
.name {
    width: 70%;
    margin-left: 80px;
    margin-top: 30px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border:none;
}
.Gander {
    margin-left: 80px;
    padding-top: 50px; 
}
.Country {
    margin-left: 80px;
    font-size: 15px;
}
.checkbox {
    margin-left: 80px;
    font-size: 20px;
}
